<header class="main-header">
  <div class="nav-container" *ngIf="showAdminHeader">
    <div class="logo-container">
      <img [src]="logoUrl" (click)="navigateHome()" alt="Logo">
    </div>
    <div class="admin-welcome">
      <h1>Welcome to Admin Panel</h1>
    </div>
  </div>
  <div class="nav-container" [class.mobile-view]="isMobileView"  *ngIf="!showAdminHeader" >
    <button class="menu-toggle" *ngIf="isMobileView" (click)="toggleMobileMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="logo-container">
      <img [src]="logoUrl" (click)="navigateHome()" alt="Logo">
    </div>

    <nav class="header-nav" [class.mobile-menu]="isMobileView" [class.active]="isMobileMenuOpen">
      <ul class="nav-list">
        <li *ngFor="let category of categories">
          <a class="nav-link" [routerLink]="[category.path]" routerLinkActive="active">
            {{category.name}}
          </a>
        </li>
      </ul>
    </nav>

    <div class="user-actions">
      <div *ngIf="isAuthenticated">
        <button mat-button>
          <mat-icon>person</mat-icon>
          <span *ngIf="!isMobileView">My Account</span>
        </button>
      </div>
      <div *ngIf="!isAuthenticated">
        <a mat-button routerLink="/login">
          <mat-icon>person_outline</mat-icon>
          <span *ngIf="!isMobileView">Login/Register</span>
        </a>
      </div>
       <!-- <mat-menu #accountMenu="matMenu">
        <button mat-menu-item *ngIf="isAuthenticated">Profile</button>
        <button mat-menu-item *ngIf="isAuthenticated">Orders</button>
        <button mat-menu-item *ngIf="!isAuthenticated" routerLink="/login">Login/Register</button>
      </mat-menu> -->
      <button mat-icon-button matBadgeColor="warn">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</header>