.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/* Admin Header*/
.admin-welcome {
  flex: 1;
  text-align: center;
}

.admin-welcome h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 500;
}

.nav-container.admin {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.admin .logo-container img {
  height: 40px;
}

/* User Header */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.logo-container img {
  height: 40px;
  cursor: pointer;
}

.header-nav {
  flex: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;
  float: right;

}
.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 4px 8px;
  font-size: 14px;
  transition: color 0.3s;
  white-space: nowrap;
}

.nav-link:hover {
  color: #000;
}

.nav-link.active {
  color: #000;
  font-weight: bold;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.categories-nav {
  height: 20px; 
  background: #ffffff;
  border-bottom: 1px solid #eee;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-container.mobile-view {
    padding: 5px 15px;
  }

  .menu-toggle {
    display: block;
  }

  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo-container img {
    height: 30px;
  }

  .header-nav {
    position: fixed;
    top: 56px; /* Header height */
    left: -100%;
    width: 80%;
    height: calc(100vh - 56px);
    background: white;
    transition: left 0.3s ease;
    overflow-y: auto;
  }

  .header-nav.mobile-menu {
    display: block;
  }

  .header-nav.mobile-menu.active {
    left: 0;
  }

  .nav-list {
    flex-direction: column;
    padding: 20px;
    float: none;
  }

  .nav-link {
    padding: 12px 0;
    display: block;
    border-bottom: 1px solid #eee;
  }

  .user-actions {
    margin-left: auto;
  }
}