
<!-- Footer Component HTML -->
<footer class="main-footer">
    <div class="footer-container">
      <!-- Logo and Social Links Section -->
      <div class="footer-top">
        <div class="footer-logo">
          <p>©Copyright 2025 <span class="footerStyle">myapparel</span>. All rights reserved</p>
        </div>
        <div class="social-links">
          <a href="https://www.facebook.com/myapparel.in" target="_blank" class="social-icon">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/myapparel.in/" target="_blank" class="social-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/company/105362593/admin/dashboard/" target="_blank" class="social-icon">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

   
    </footer>
 